#sideNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 5rem;
  margin-top: 0.3rem;
}
#sideNavContainer .sideIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
#sideNavContainer .sideIcons:hover {
  background-color: #f3f3f3;
}

.sideText {
  position: absolute;
  left: 4rem;
  width: 10rem;
  padding: 0.7rem 0;
  background-color: red;
  font-size: 1.12rem;
  border-radius: 0 1.5rem 1.5rem 0;
}
.sideText:hover {
  background-color: #f3f3f3;
}
