$backHover: rgb(243, 243, 243);

#sideNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 70vh;
  width: 5rem;

  margin-top: 0.3rem;

  .sideIcons {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 3rem;
    width: 3rem;

    border-radius: 50%;

    cursor: pointer;

    &:hover {
      background-color: $backHover;
    }
  }
}

.sideText {
  position: absolute;
  left: 4rem;
  width: 10rem;
  padding: 0.7rem 0;
  // padding: 0.7rem 5rem 0.7rem 0.5rem;

  background-color: red;

  font-size: 1.12rem;
  border-radius: 0 1.5rem 1.5rem 0;

  &:hover {
    background-color: $backHover;
  }
}

