[data-container="main-screen-container"] {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 5rem;
  top: 4rem;
  height: calc(100% - 4rem);
  padding-top: -4rem;
  width: calc(100% - 5rem);
  // background-color: rgb(209, 209, 209);

  z-index: 3;
}