.top_nav {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100vw;
  padding: 0 0.5rem;
  background-color: white;
  border-bottom: 1px solid #f3f3f3;
  z-index: 7;
}
.top_nav #leftNav {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 20vw;
}
.top_nav #leftNav [data-name=menu-icon] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
  border-radius: 50%;
}
.top_nav #leftNav [data-name=menu-icon]:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.top_nav #leftNav [data-name=google-keep] {
  display: flex;
  justify-content: center;
  height: 2.2rem;
  width: 4rem;
  object-fit: contain;
}
.top_nav #leftNav [data-name=keep-text] {
  font-size: 1.3rem;
  color: #6c6c6c;
}
.top_nav #middleNav {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 60vw;
}
.top_nav #middleNav .searchBar {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}
.top_nav #middleNav .searchBar [data-name=search-icon] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.top_nav #middleNav .searchBar [data-name=search-icon]:hover {
  background-color: gainsboro;
  cursor: pointer;
}
.top_nav #middleNav .searchBar [data-name=search-text] {
  height: 2rem;
  width: 90%;
  margin: 0 0.5rem;
  background-color: transparent;
  border: none;
  outline-style: none;
  font-size: 1.05rem;
}
.top_nav #rightNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4rem;
  width: 45vw;
}
.top_nav #rightNav div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.top_nav #rightNav div:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.top_nav #rightNav [data-name=refresh-icon], .top_nav #rightNav [data-name=grid-icon] {
  margin: 0 0.5rem;
}
.top_nav #rightNav [data-name=settings-icon] {
  margin: 0 2rem 0 0.5rem;
}
.top_nav #rightNav [data-name=googleApps-icon], .top_nav #rightNav [data-name=Account-icon] {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0.5rem;
}

#search-bar-not-clicked {
  background-color: #f3f3f3;
  box-shadow: none;
}

#search-bar-clicked {
  background-color: white;
  box-shadow: 0 1px 2px 0 grey;
}
