$backHover: rgb(243, 243, 243);
$anitique: rgb(255, 197, 122);


.side-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 44.2rem;
  width: 5rem;

  margin-top: 0.3rem;

  .plain-div-behind-side-nav {
    position: absolute;
    left: 0;
    height: 45rem;
    width: 5rem;

    z-index: -1;
  }

  .side-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;
    // background-color: $anitique;
    border-radius: 50%;
    cursor: pointer;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    z-index: 2;

    &:hover {
      background-color: $backHover;
    }
  } 
}

//find out why even the toRight and toLeft is changing as per code, it isn't updating in the style sheet in chrome.



//stretch animation
#side-nav-stretch {
  //start styling this shit
  .plain-div-behind-side-nav {
    animation-name: plain-div-to-right;
    animation-duration: 0.5s;
    animation-delay: 0.6s;
    animation-fill-mode: both;
  }
  @keyframes plain-div-to-right {
    100% {
      width: 17rem;
      box-shadow: 0 16px 16px 0;
      opacity: 0.5;
    }
  }
}
#side-nav-shrink {
  //end this thing
  .plain-div-behind-side-nav {
    animation-name: plain-div-to-left;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
  }
  @keyframes plain-div-to-left {
    0% {
      width: 17rem;
      box-shadow: 0 16px 16px 0;
      opacity: 0.5;
    }
    100% {
      width: 5rem;
      box-shadow: 0 16px 16px 0;
      opacity: 0;
    }
  }
}



//unstretch animation
[data-iconAnime="icon-back-box"] { 
  animation-name: toRights; 
  animation-delay: 0.45s;
}
[data-iconAnime="icon-back-round"] { 
  animation-name: toLefts;
  animation-delay: 0.2s; 
}

@keyframes toRights {
  0% {
    width: 3rem;
    border-radius: 50%;
  }
  100% {
    width: 5rem;
    border-radius: 0%;
  }
}

@keyframes toLefts {
  0% {
    width: 5rem;
    border-radius: 0%;
  }
  100% {
    width: 3rem;
    border-radius: 50%;
  }
}


//labels for side nav icons
.side-icon-label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5rem;
  height: 3rem;
  width: 6rem;
  padding-left: 1rem;
  border-radius: 0 5rem 5rem 0;
  font-size: 1rem;
  opacity: 0;
  z-index: 1;

  &:hover {
    background-color: $backHover;
  }
}
.labels-show {
  display: flex;
  left: 5rem;
  opacity: 0;
  animation-name: labels-show;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
.labels-hide {
  animation-name: labels-hide;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}
.nodisp {
  display: none;
}

@keyframes labels-show {
  0% {width: 6rem;}
  100% {
    width: 12rem;
    opacity: 1;
  }
}
@keyframes labels-hide {
  0% {
    width: 12rem;
    opacity: 1;
  }
  100% {
    width: 6rem;
    left: 5rem;
  } 
}





/*
sideNavState
shrink and stretch = sideNav-Main-Container

animeClass
side-icon-label labels-show labels-hide = the div of icon labels

backHover
round box = the extra div behind the icon labelsicon-back-boxconState
sideIcons icon-back-round toRight = 
*/