.side-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 4.5rem;
  height: 100%;
  width: 4.5rem;
  z-index: 5;
}
.side-nav-container .plain-div-behind-side-nav {
  position: absolute;
  left: 0;
  height: calc(100% - 4.5rem);
  width: 4.5rem;
  background-color: white;
  z-index: 4;
}
.side-nav-container .side-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  z-index: 5;
}
.side-nav-container .side-icons:hover {
  background-color: #f3f3f3;
}
.side-nav-container .side-icons:hover div {
  background-color: #f3f3f3;
}

[data-iconAnime=icon-back-box] {
  animation-name: toRights;
  animation-delay: 0.4s;
}

[data-iconAnime=icon-back-round] {
  animation-name: toLefts;
  animation-delay: 0.2s;
}

@keyframes toRights {
  0% {
    width: 3rem;
    border-radius: 50%;
  }
  100% {
    width: 4.5rem;
    border-radius: 0%;
  }
}
@keyframes toLefts {
  0% {
    width: 4.5rem;
    border-radius: 0%;
  }
  100% {
    width: 3rem;
    border-radius: 50%;
  }
}
#icon-selected {
  background-color: #ffc57a;
}
#icon-selected img {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}
#icon-selected div {
  background-color: #ffc57a;
}

#side-nav-stretch .plain-div-behind-side-nav {
  animation-name: plain-div-to-right;
  animation-duration: 0.3s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
@keyframes plain-div-to-right {
  100% {
    width: 18.5rem;
    box-shadow: 0 16px 16px 0 rgba(210, 210, 210, 0.5);
  }
}

#side-nav-shrink .plain-div-behind-side-nav {
  animation-name: plain-div-to-left;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}
@keyframes plain-div-to-left {
  0% {
    width: 18.5rem;
    box-shadow: 0 16px 16px 0;
    opacity: 0.5;
  }
  100% {
    width: 4.5rem;
    box-shadow: 0 16px 16px 0;
    opacity: 0;
  }
}

.side-icon-label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 4.5rem;
  height: 3rem;
  width: 8rem;
  padding-left: 1rem;
  border-radius: 0 5rem 5rem 0;
  font-size: 0.85rem;
  opacity: 0;
  z-index: 5;
}
.side-icon-label:hover {
  background-color: #f3f3f3;
}

.labels-show {
  display: flex;
  left: 4.5rem;
  opacity: 0;
  animation-name: labels-show;
  animation-duration: 0.3s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.labels-hide {
  animation-name: labels-hide;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.nodisp {
  display: none;
}

@keyframes labels-show {
  0% {
    width: 8rem;
  }
  100% {
    width: 14rem;
    opacity: 1;
  }
}
@keyframes labels-hide {
  0% {
    width: 14rem;
    opacity: 1;
  }
  100% {
    width: 8rem;
    left: 4.5rem;
  }
}
