@font-face {
  font-family: roboto;
  src: url('../Fonts/RobotoCondensed_400Regular.ttf');
}

.note-take-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.5px solid grey; 
  font-family: roboto;

  .note {
    display:flex;
    align-items: center;
    width: 37rem;
    padding: 0.75rem;
    margin: 1.5rem 0;
    border-radius: 0.5rem;
    border: 0.8px double rgb(240,240,240);
    box-shadow: 0 0.7px 5px 0px grey;
    &:hover {cursor:text}

    .note-title {
      position: absolute;
      top: 2.3rem;
      min-height: 1.5rem;
      resize: none;
      width: 30rem;

      outline-style: none;
      border: none;
      // background-color: green;

      font-weight: 600;
      &::placeholder {
        font-size: 0.9rem;
        font-family: roboto;
        letter-spacing: 2px;
      }
    }

    .note-take {
      // min-height: 2rem;
      height: auto;
      width: 35rem;
      word-wrap: break-word;
      overflow-y: scroll;
      outline-style: none;
      border: none;

      &::placeholder {
        font-size: 1rem;
        font-family: roboto;
        letter-spacing: 0.3px;
      }

    }
  }
}